{% extends "frontend/index.html" %}

{% block form_block %}

<form class="row align-items-center rounded bg-body p-3 mt-4 shadow-sm border" id="search_form" method="post" enctype="multipart/form-data">  
	<div class="fw-lighter fs-3 mb-3 border-bottom">Upload file</div>
	
	<div class="col-12">
		{% csrf_token %}
		{{ form_var }}		
	</div>

	<div class="d-grid gap-2 mt-3">
		<input class="btn btn-lg btn-dark" type="submit" id="upload_file_button" value="Upload File">
	</div>
</form>
{% endblock form_block %}


{% block info_message %}
<div class="col-12">
	<div class="alert alert-primary text-center" role="alert" id="upload_alert_message">
		<i class="bi bi-capslock-fill"></i> | Upload a csv file to insert passes in the database.
	</div>
</div>
{% endblock info_message %}	


{% block append_scripts_block %}

<script type="text/javascript">
const label_file_element = document.querySelector("label");
const input_file_element = document.getElementById("id_file");

label_file_element.style.display = "none";
input_file_element.classList.add("form-control", "form-control-lg");

const button_file_element = document.getElementById("upload_file_button");
alert_msg_element = document.getElementById("upload_alert_message");
loading_msg_html = "<i class=\"bi bi-capslock-fill\"></i> | <b>Uploading...<b>  <span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>"

button_file_element.addEventListener('click', event => {
	var form_is_valid = input_file_element.checkValidity();
	if (form_is_valid) {
		alert_msg_element.classList.remove("alert-primary");
		alert_msg_element.classList.add("alert-dark");
		alert_msg_element.innerHTML = loading_msg_html;
	} 	
});

</script>

{% endblock append_scripts_block %}	